services:
  backend:
    build: ./pqrs_back
    container_name: backend-api
    ports:
      - "8080:8080"
    networks:
      - appnet

  frontend:
    build: ./pqrs_front
    container_name: frontend-app
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - appnet

networks:
  appnet:
    driver: bridge
