version: '3.9'

services:
  backend:
    build: ./backend
    container_name: backend-api
    ports:
      - "5000:5000"
    networks:
      - appnet

  frontend:
    build: ./frontend
    container_name: frontend-app
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - appnet

networks:
  appnet:
    driver: bridge
